/* Import font Poppins dari Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Root Variables */
:root
{
    --main-color: rgb(202, 175, 20);
}

/* Global Styles */
*{
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

/* HTML Styles */
html
{
    font-size: 62%; /* Ukuran font 62% untuk responsivitas */
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

/* Scrollbar Styles */
html::-webkit-scrollbar
{
    width: 1rem;
}

html::-webkit-scrollbar-track
{
    background: rgb(255, 255, 255);
}

html::-webkit-scrollbar-thumb
{
    background: lightgrey;
    border-radius: 1rem;
}

/* Body Styles */
body
{
    background-color: white;
}


/* Section Styles */
section
{
    padding: 2rem 9%;
}

.heading
{
    text-align: center;
    padding-bottom: 2rem;
    color: rgb(255, 107, 131);
    text-transform: uppercase;
    font-size: 3.5rem;
}

.heading span
{
    color: black;
    text-transform: uppercase;
}


/* Header Styles */
.header
{
    position: fixed;
    top:0; left:0; right:0;
    z-index: 10000;
    background: rgb(255, 107, 131);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:3rem 9%;
}

/* Logo Styles */
.header .logo
{
    font-weight: 700;
    color: white;
    font-size: 4rem;
}

.header .logo span
{
    color: black;
}


/* Navbar Styles */
.header .navbar 
{
    display: flex;
    align-items: center;
}

.header .navbar a 
{
    font-size: 1.5rem;
    color: white;
    margin-left: 2rem;
    transition: color 0.3s ease-in-out;
}

.header .navbar a:hover 
{
    color: var(--main-color);
}

/* Menu Bars Styles */
#menu-bars {
    font-size: 3rem;
    color: white;
    cursor: pointer;
    display: none;
}

/* Home Section Styles */
.home .content
{
    text-align: center;
    padding-top: 6rem;
    margin: 8rem auto;
    max-width: 70rem;
}

.home .content h3
{
    color: black;
    font-size: 4rem;
    text-transform: uppercase;
}

.home .content h3 span
{
    color: var(--main-color);
    text-transform: uppercase;
}

.home .content .btn {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    background: #444;
    color: white;
    margin-top: 5rem;
}

.home .content .btn:hover {
    background-color: var(--main-color);
    color: white;
}

.slider-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.slide {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 30%;
}

.slide img {
    width: 90%;
    height: auto;
}


/* Paket Styles */
.paket .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.paket .box-container .box {
    position: relative;
    border-radius: 0.5rem;
    background: aliceblue;
    text-align: center;
    padding: 2.5rem;
    transition: transform 0.3s ease-in-out;
}

.paket .box-container .box:hover 
{
    transform: scale(1.05); /* Efek scaling saat hover */
}

.paket .box-container .box h3 {
    font-size: 2rem;
    color: black;
    margin-bottom: 1rem;
}

.paket .box-container .box p {
    font-size: 1.6rem;
    color: black;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}

.paket .box .price {
    display: block;
    font-size: 1.8rem;
    color: black;
    font-weight: bold;
    margin-bottom: 1rem;
}

.paket .box .btn-pesan {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    background: #444;
    color: aliceblue;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
}

.paket .box .btn-pesan:hover {
    background: var(--main-color);
    color: #444;
}


/* About Section Styles */
.about .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.about .row .image {
    flex: 1 1 40%;
    max-width: 40%;
    padding: 1rem;
    order: 1; /* Mengubah urutan gambar menjadi sebelum teks pada layar kecil */
    border-radius: 1rem;
}

.about .row .img {
    width: 40%;
    height: auto; /* Menjaga aspek rasio gambar */
    border-radius: 1rem;
    border: 1rem solid aliceblue;
}

.about .row .content {
    flex: 1 1 40%; /* Memastikan teks memenuhi lebar layar pada layar kecil */
    order: 2; /* Mengubah urutan teks menjadi setelah gambar pada layar kecil */
}

.about .row .content h3 {
    font-size: 2rem;
    color: black;
}

.about .row .content p {
    font-size: 1.5rem;
    color: black;
    padding: .5rem;
    line-height: 2rem;
}




/* Hubungi Section Styles */
.hubungi form
{
    max-width: 60rem;
    margin: 1rem auto;
    text-align: center;
}

.hubungi form .inputBox
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hubungi form .inputBox input,
.hubungi form textarea
{
    width: 100%;
    background: aliceblue;
    border-radius: .5rem;
    padding: 1rem;
    margin: .5rem 0;
    font-size: 1.5rem;
    color: black;
    text-transform: none;
}

.hubungi form .inputBox input::placeholder,
.hubungi form textarea::placeholder
{
   color: black; 
   text-transform: capitalize;
}

.hubungi form .inputBox input:focus,
.hubungi form textarea:focus
{
   color: black; 
}

.hubungi form .inputBox input
{
    width: 49%;
}

.hubungi form textarea
{
    resize: none;
    columns: 15;
}

.hubungi form .inputBox input
{
    width: 100%;
}

.hubungi form .btn {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    background: #444;
    color: white;
}

.hubungi form .btn:hover {
    background-color: var(--main-color); 
    color: white; 
}




/* Footer Section Styles */
.footer
{
    background: aliceblue;
}

.footer .box-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    gap: .5rem;
}

.footer .box-container .box h3
{
    font-size: 2rem;
    color: black;
    padding: .2rem 0;
}

.footer .box-container .box a
{
    display: flex;
    font-size: 1.5rem;
    padding: .5rem 0;
    color: rgb(255, 107, 131);
}

.footer .box-container .box a i
{
    padding-right: .5rem;
    color: var(--main-color);
}

.footer .box-container .box a:hover i
{
    padding-right: 1.5rem;
}

.footer .credit
{
    text-align: center;
    padding: 1rem;
    color: rgb(0, 0, 0);
    padding: .5rem;
    padding-top: .5rem;
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

.footer .credit span
{
    color: rgb(255, 107, 131);
}



/* Media Queries */
@media (max-width: 991px)
{
    html
    {
        font-size: 55%;
    }
    
    .header
    {
        padding: 2rem;
    }

    section
    {
        padding: 2rem;
    }

    #menu-bars {
        display: initial;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-top: .1rem solid aliceblue;
        background: rgb(180, 130, 65);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .header .navbar a {
        background: aliceblue;
        border-radius: .5rem;
        padding: 1.3rem;
        margin: 1.3rem;
        font-size: 2rem;
        color: white;
    }

    .header .navbar.active
    {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .fa-times
    {
        transform: rotate(180deg);
    }

    .header .navbar .a:hover
    {
        display: flex;
        background-color: aliceblue;
        border-radius: .5rem;
        padding: 1.3rem;
        margin: 1.3rem;
        font-size: 2rem;
    }

    .home .content h3
    {
        font-size: 4rem;
    }

    .about .row .image,
    .about .row .content 
    {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

@media (max-width: 450px)
{
    html
    {
        font-size: 50%;
    }

    .header
    {
        padding: 1.5rem 2rem;
    }

    .about .row .image img
    {
        width: 100%;
        height: auto;
    }

    .about .row .content
    {
        padding: 1rem;
    }
}

