/* Import font Poppins dari Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: aliceblue;
    padding: 10px;
}

h2 {
    text-align: center;
    margin: 0; 
    padding: 20px;
    color: black;
}

section {
    display: flex;
    min-height: 100vh; /* Menjamin bahwa section akan memenuhi setidaknya tinggi viewport (100% dari viewport height) */
}

nav {
    flex: 0.5;
    background: #ef6767;
    padding: 15px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

li a {
    display: block;
    color: white;
    text-align: left;
    padding: 10px 0;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color: #ef6767;
}

article {
    flex: 3;
    padding: 20px;
}

.admin-table {
    width: 100%;
}

.admin-table th, .admin-table td {
    border: 1px solid #ef6767;
    text-align: left;
    padding: 12px; /* Adjusted padding for better spacing */
}

.admin-table th {
    background-color: #ef6767;
    color: white;
    text-align: center;
}

.admin-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.admin-table .harga{
    text-align: right;
}


footer {
    background-color: aliceblue;
    padding: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: auto; /* Menjamin footer akan selalu ada di bawah halaman */
}

.credit span {
    font-weight: bold;
}

/* Add styles for buttons */
.button {
    background-color: #ef6767;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: #ef6767;
}


/* Media Query */
@media (max-width: 767px) {
    body {
        padding: 10px;
    }

    nav {
        flex: 1;
    }

    article {
        flex: 2;
    }

    .admin-table th, .admin-table td {
        padding: 8px;
    }

    .button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    nav {
        flex: 0;
    }

    article {
        flex: 1;
    }

    .admin-table th, .admin-table td {
        padding: 6px;
    }

    .button {
        padding: 6px 12px;
        font-size: 12px;
    }
}
